
.drawer-container {
    margin-top: 16px;
    height: calc(100vh - 250px);
    background: #f6f7f9;

    /* grob: abhängig von Header/Filterbar */
}

.detail-drawer {
     background: #ffffff;
    border-left: 1px solid rgba(0, 0, 0, 0.08);
}